.keypoints_row {
   display: flex;
   flex-flow: wrap;
   margin: 0-15px;
}
.keypoints_box {
   margin: 15px;
   width: calc(100% / 2 - 30px);
   border: 1px solid #9F9F9F;
   border-radius: 15px;
   padding: 20px;
   transition: all 0.4s ease;
}
.keypoints_box:hover {
   box-shadow: 7px 4px 6.8px 0px #00000040;
}
.keypoints h3 {
   text-align: center;
   font-size: 35px;
}

.keypoints_box ul {
   display: block;
}

.keypoints_box ul li {
   margin: 10px 0px;
   font-size: 20px;
}
.keypoints_box h4 {
   font-size: 24px;
   margin-top: 0;
   border-bottom: 1px solid;
   display: inline-block;
}

.detaipage_table_row {
   display: flex;
   flex-flow: wrap;
   margin: 0-15px;
}

.detailpage_table {
   margin: 15px;
   width: calc(100% / 2 - 30px);
}
.time_line {
   display: flex;
   justify-content: space-between;
   text-align: center;
   flex-flow: wrap;
   margin-top: 20px;
   align-items: flex-start;
}
.time_line div {display: flex;flex-flow: column;gap: 18px;width: calc(100% / 6 - 40px); margin: 20px; font-size: 16px;}

.time_line div span {
   font-size: 20px;
   background: #D2D1FF;
   border-radius: 18px;
   padding: 8px 0px;
   font-weight: 300;
}
.header_box {
   display: flex;
   flex-flow: wrap;
   align-items: center;
   gap: 45px;
}

.header_box img {
   display: block;
   border: 1px solid #c3c3c3;
   border-radius: 20px;
   padding: 5px;
}

.header_box h2 {
   margin: 0;
   font-size: 40px;
   font-weight: 400;
   color: #535353E5;
   border-bottom: 1px solid;
}

.subpage_header {
   border: 1px solid #D2D2D2;
   padding: 30px;
   border-radius: 18px;
}
span.status {
   padding: 5px 25px;
   background: #FF0000;
   border-radius: 5px;
   font-size: 20px;
   color: #f4f4f4;
}
thead.detailpage_table_thead {
   border-spacing: 0px 10px;
}
p.disclimer p {
   line-height: 25px;
   text-align: justify;
   font-size: 16px;
}
.subpage_informatic {
   display: flex;
   flex-flow: wrap;
   margin: 0-20px;
}

.informatic_box {
   width: calc(100% / 3 - 40px);
   margin: 20px;
   border: 1px solid #9f9f9f;
   padding: 15px;
   border-radius: 18px;
   text-align: center;
   transition: all 0.4s ease;
}

.informatic_box ul {
   display: block;
}
.informatic_box:hover {
   box-shadow: 7px 4px 6.8px 0px #00000040;
}



@media (max-width: 991px){
   .header_box h2 {
      font-size: 30px;
   }
   
   span.status {
      font-size: 16px;
   }
   
   .subpage_header {
      padding: 15px;
   }
   
   .header_box {
      gap: 30px;
   }
   
   .time_line div span {
      font-size: 16px;
   }
   
   .time_line div {
      font-size: 14px;
      margin: 5px;
      width: calc(100% / 6 - 10px);
   }
   
   .keypoints h3 {
      font-size: 25px;
   }
   
   .keypoints_box h4 {
      font-size: 20px;
   }
   
   .keypoints_box ul li {
      font-size: 16px;
   }
   
   .detailpage_table_heading h3 {
      font-size: 20px;
   }
   
   .detailpage_table.subpage_discription h3 {
      font-size: 20px;
   }
   
   p.disclimer p {
      font-size: 14px;
      line-height: 15px;
   }
   
   .informatic_box {
      margin: 10px;
      width: calc(100% / 3 - 20px);
   }
}

@media (max-width: 767px){
   .time_line div {
      width: 100%;
      flex-flow: column-reverse;
      gap: 8px;
      align-items: center;
  }
  
  .time_line div span {
      font-size: 14px;
      padding: 5px 15px;
  }
  
  .subpage_header {
      padding: 12px;
  }
  
  .header_box h2 {
      font-size: 20px;
  }
  
  .header_box img {
      width: 54px;
  }
  
  .header_box {
      gap: 15px;
      /* justify-content: center; */
      width: 100%;
  }
  
  .keypoints_box {
      width: 100%;
      padding: 15px;
      margin: 10px;
  }
  
  .keypoints_box h4 {
      margin-bottom: 10px;
  }
  
  .detailpage_table {
      margin: 10px;
      width: 100%;
  }
  
  thead.detailpage_table_thead tr th:first-child {
      width: 82px;
  }
  tbody.detailpage_table_thead tr td:first-child {
   width: 82px;
}

.informatic_box {
   width: 100%;
}
}










