
h1.calculator-name{
    color: #413b3b;
    font-size: 35px;
    margin: 15px;
    padding-top: 20px;
    display: flex;
  }

    .calculator-name {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .home-page {
        display: flex;
        justify-content: space-around;
        padding: 20px;
        flex-wrap: wrap;
    }
    
    .calculator-card {
        border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 210px;
    text-align: left;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    background-color: #fefefe;
    }
    
    .calculator-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    }

    .calc_description{
        color: #939596;
    }
    
    .icon {
        color: #007bff;
        margin-bottom: 10px;
        display: block;
    }
    .card-link {
        text-decoration: none; 
        color: inherit; 
      }
      h3 {
        color: #413b3b;
    }