.calculator_box {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    border: 1px solid #d7d7d766;
  }

  .emicalculator_row {
    padding-top: 50px;
}
  
  .input-group {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    padding-bottom: 10px;
  }

  .emi_calculator_top {
    width: 44%;
}
  
  .input-group label {
    padding-right: 15px;
  }
  
  .MuiTextField-root {
    margin-left: auto;
  }
  
  .MuiOutlinedInput-root {
    width: 150px;
    border-radius: 7px;
  }
  
  .results {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .results Typography {
    color: #4caf50;
    font-weight: bold;
  }
  
  .chart-container-emi {
    width: 30%;
  }
  