.calculator_box {
    padding: 20px;
    background-color: #fffbf8;
  }

  
  .input-group {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    padding-bottom: 10px;
  }

  .nps_calculator_top {
    width: 44%;
    color: #9d9d9d;
    font-size: 14px;
}

  
  .input-group label {
    padding-right: 15px;
  }
  
  .MuiTextField-root {
    margin-left: auto;
  }
  
  .MuiOutlinedInput-root {
    width: 150px;
  }
  
  .results {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .results Typography {
    color: #4caf50;
    font-weight: bold;
  }
  
  .chart-container-nps {
    width: 30%;
  }
  
  .nps_h1{
    color: #313131;
  }
  .value-color{
    color: #2c9430;
  }
  @media (max-width:767px) {


    .nps_calculator_top {
        width: 92% !important;
    }
    
    .chart-container-nps {
        width: 100% !important;
        padding-top: 15px;
        height: 300px;
        text-align: -webkit-center;
    }
    
    }
  