.dashboard {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  width: 70%;
  padding-right: 20px;
}

.stock-boxes {
  display: flex;
  gap: 20px;
  width: 100%;
  color: rgb(56, 38, 38);
 flex-flow: wrap;
  justify-content: space-between;
}

.smallbox_row{
  display: flex;
  justify-content: flex-start;
  flex-flow: wrap;
  margin: 0-10px;
}
.container{
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.adv{
  width: 30%;
  /* padding-left: 20px; */
 overflow-y: scroll;
 scrollbar-width: none;
 height: 729px;
}

.dashboard_row{
  display: flex ;
}




@media (max-width: 991px) {
  
  .dashboard {
    width: 100%;
}
  .stock-boxes {
    flex-flow: wrap;
    margin: 0;
    gap: 0;
  }

  .smallbox_row {
   flex-flow: wrap;
   /* justify-content: flex-start; */
  }

  .container {
    padding: 0 10px;
  }
}

@media (max-width: 767px) {
  .dashboard_row {
    display: block;
   }
   .dashboard{
    padding: 0;
   }
   .adv{
    width: 100%;
   }
}
