.header_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;   
    color: rgb(57, 56, 56);

  }
  header.header {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.header-left img {
  display: block;
  width: 175px;
}
  
  .header-left h1 {
    margin: 0;
  }
 
.header-center_{
  padding-right: 50px;
}

.header-center {
  background-color: #cbbdbd; /* Adjust color as needed */
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 450px; /* Adjust width as needed */
  box-shadow: 0 2px 4px rgba(86, 86, 86, 0.1);
  margin-left: 70px;
}

.header-center input {
  border: none;
  outline: none;
  flex-grow: 1;
  border-radius: 25px;
  padding: 12px;
  font-size: 16px;
}

.header-center input::placeholder {
  color: #aaa;
}

.header-center input:focus {
  background-color: #fff;
}

.header-right {
  display: flex;
  align-items: center;
}

.signin-button {
  padding: 10px 20px;
  background-color: #fff;
  color: #69645d;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.signin-button:hover {
  background-color: #bdabab;
  color: #fff;
}



.header_right {
  display: flex;
  width: 80%;
  justify-content: right;
}

.header-left {
  width: 20%;
}

@media (max-width: 991px){
  
}

@media (max-width: 991px) {
  /* .header_row {
    flex-direction: column;
    align-items: flex-start;
  } */

  .header-left, .header-right {
    width: 100%;
    margin: 5px 0;
  }

  .header-center {
    width: 100%;
    margin: 10px 0;
    padding: 5px;
  }

  .header-center input {
    padding: 8px;
    font-size: 14px;
  }

  .signin-button {
    padding: 8px 15px;
  }
}

@media (max-width: 767px) {
  .header_row {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-left, .header-right, .header-center {
    width: 100%;
    margin: 5px 0;
  }

  .header-center {
    padding: 5px;
    width: 100%;
    margin-left: 0;
  }
  .header-left img {
    width: 170px;
    display: block;
}
  .header-center_ {
    padding-right: 0;
  }

  .header-center input {
    padding: 8px;
    font-size: 14px;
  }

  .signin-button {
    padding: 8px 16px;
  }
}
