.company-logo {
    display: flex;
    align-items: flex-end;
}
.exchange-tag {
    display: inline-block;
    background-color: #ffbd4f;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 4px;
    font-size: 10px;
}
.table_main {
    height: 400px;
    overflow-y: auto;
}
thead.thead-list{
    position: sticky;
    top: -40px;
    
}


