.company-logo {
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    justify-content: left;
}
.exchange-tag {
    display: inline-block;
    background-color: #ffbd4f;
    padding: 2px 6px;
    margin: 2px;
    border-radius: 4px;
    font-size: 10px;
}
.table_main {
    height: 400px;
    overflow-y: auto;
}
thead.thead-list{
    position: sticky;
    top: -40px;
    
}
.companylogo_inner p {
    font-size: 10px;
    padding: 4px;
    background: #ffbd4f;
    margin-top: 10px;
    border-radius: 8px;
    width: fit-content;
}

.companylogo_inner {
    display: flex;
    flex-direction: column;
}

