/* ul.nav_ul {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

.nav_ul{
  color: rgb(85, 138, 139);
}

ul.nav_ul li {
  display: inline-block;
  padding-right: 50px;
  list-style: none;
}
ul.nav_ul li a {
  text-decoration: none;
  color: #444547;
  font-weight: 600;
}

section.Nav_bottom {
  margin-top: 20px;
}

section.Nav_top {
padding: 5px 0px;
} */

/* @media (max-width: 991px){
  
}

@media (max-width: 991px) {


  ul.nav_ul li {
    display: block;
    padding: 10px 0;
  }

  section.Nav_bottom, section.Nav_top {
    padding: 10px;
  }
} */

/* @media (max-width: 767px) {
  ul.nav_ul {
    flex-direction: column;
    align-items: flex-start;
  }

  ul.nav_ul li {
    display: block;
    padding-right: 0;
    margin: 5px 0;
  }

  section.Nav_bottom, section.Nav_top {
    padding: 10px 0;
  }
} */
ul.nav_ul {
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}

.nav_ul{
  color: rgb(85, 138, 139);
}

ul.nav_ul li {
  display: inline-block;
  padding-right: 50px;
  list-style: none;
}

ul.nav_ul li a {
  text-decoration: none;
  color: #444547;
  font-weight: 600;
}

section.Nav_bottom {
  margin: 20px 0px;
}

section.Nav_top {
  padding: 5px 0px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 991px) {

  /* ul.nav_ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: #f8f8f8;
  } */
/* 
  ul.nav_ul.open {
    display: flex;
  } */
/* 
  ul.nav_ul li {
    display: block;
    padding: 10px 0;
  } */

  section.Nav_bottom, section.Nav_top {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .menu-toggle {
    display: block;
    float: right;
  }
  ul.nav_ul.open {
    display: flex;
  } 
  ul.nav_ul {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: #f8f8f8;
  }
  /* ul.nav_ul li {
    display: block;
    padding: 10px 0;
  } */
  ul.nav_ul li {
    display: block;
    padding: 10px 0;
    margin: 5px 0;
    text-align: center;
    border: 1px solid #ccc;
  }

  section.Nav_bottom, section.Nav_top {
    padding: 10px 0;
  }
  section.Nav_bottom {
    position: absolute;
    right: 0;
    left: auto;
    top: 9px;
    width: 100%;
    z-index: 3;

}
.navbar {
  text-align: center;
}

section.Indices {
  padding-top: 20px;
}
}
