.small-box {
  background-color: white;
  padding: 16px;
  border-radius: 10px;
  width: calc(100% / 6 - 20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  border: 1px solid rgb(235, 232, 232);
  }

.sml-bx {
  width: 100%;
}
.sml-bx p{
  color: rgb(69, 53, 46);
  font-weight: 500;
 
}

.val_ue {
  display: flex;
  flex-flow: wrap;
  width: 100%;
  align-items: center;
}

.p_value {
  width: 40%;
  padding-right: 5px;
}
.p_value p{
  font-weight: 600;
  color: rgb(59, 57, 57);

}

.char_t {
  width: 50%;
  padding-left: 5px;
}

.chan_ge p{
  color: rgb(28, 117, 96);
}

@media (max-width: 1024px){
  
}

@media (max-width: 991px) {
  .small-box {
    width: calc(100% / 3 - 20px);
    margin: 10px ;
  }

  .p_value, .char_t {
    width: 50%;
    padding: 0px 5px;
  }
}

@media (max-width: 767px) {
  .small-box {
    width: calc(100% / 2 - 20px);
    margin: 10px ;
  }
  .val_ue {
    overflow: hidden;
}
  .char_t {
    padding-left: 17px;
}
  .p_value, .char_t {
    width: 40%;
    padding: 5px 0;
  }
}