.tmf_card_row {
   display: flex;
   flex-flow: column;
}
/* 
.container {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
 }
  */
 .tmf_card {
   border: 1px solid #e0e0e0;
   border-radius: 8px;
   width: 300px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   overflow: hidden;
 }
 
 .tmf_card-header_mf {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
 }
 
 .tmf_rank {

   color: black;
   padding: 4px 8px;
   border-radius: 4px;
   font-weight: bold;
   
 }

 .tmf_img_name {
   display: flex;
   align-items: center;
}

/* .tmf_card_mf:hover {
   box-shadow: rgba(58, 32, 74, 0.6) 0px 5px 15px 0px;
} */

 .tmf_amc-logo {
   /* width: 40px; / adjust size as needed / */
    height: auto;
   margin-right: 10px;
   vertical-align: middle;
 }
 
 .tmf_amc-name {
   font-size: 16px;
   font-weight: bold;
   color: #302c2c;
   margin: 0;
 }
 
 .tmf_card-body {
   padding-top: 16px;
   color: #302c2c;
 }
 
 .tmf_details div {
   margin-bottom: 8px;
 }

.tmf_card_mf {
 width: 100%;
 margin: 5px auto;
 padding: 10px;
 border-radius: 10px;
 border: 1px solid rgb(230, 230, 230);
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.tmf_details {
   display: flex;
   font-size: 14px;
   justify-content: space-between; 
    border-radius: 10px; 
    font-weight: 300;
    margin-top: 10px;
 } 

.Aum_Nav {
 display: flex;
 justify-content: space-between;
 padding: 12px 0px;
 font-size: 14px;
 color: #302c2c;
 border-top: 1px solid #ccc;
 border-bottom: 1px solid #ccc;
 margin-top: 7px;
}
h3.trmf {
   margin-top: 0;
}
span.trmf {
 margin-top: 16px;
 font-size: 21px;
}